{% extends "base.html" %}

{% block title %}
Impressum | Accelera Force
{% endblock %}


{% block content %}

<section class="page-header">

    <p class="section-label">
        LEGAL NOTICE
    </p>

    <h1>
        Impressum
    </h1>

    <p>
        Kontakt und Anschrift unseres STEM-Racing-Teams.
    </p>

</section>


<section class="content-section">

    <div class="content-text">

        <h2>
            Accelera Force
        </h2>

        <p>
            Accelera Force am Einhard-Gymnasium Aachen<br>
            STEM Racing 2026/27
        </p>

        <p>
            Robert-Schuman-Str. 4<br>
            52066 Aachen
        </p>

        <a class="button button-outline" href="https://www.google.com/maps/search/?api=1&amp;query=Robert-Schuman-Str.+4%2C+52066+Aachen" target="_blank" rel="noopener noreferrer">
            Jetzt anreisen
        </a>

    </div>


    <div class="info-box impressum-contact">

        <h3>
            Kontakt
        </h3>

        <ul>
            <li>Minh Dao: <a href="mailto:minh.dao.game5@gmail.com">minh.dao.game5@gmail.com</a></li>
            <li>Omar Ahmed: <a href="mailto:omarahmed6306@gmail.com">omarahmed6306@gmail.com</a></li>
            <li>Tri-Dung Tran: <a href="mailto:dung20.tran01@gmail.com">dung20.tran01@gmail.com</a></li>
            <li>Yashmith Gettam: <a href="mailto:yashmith.gettam@gmail.com">yashmith.gettam@gmail.com</a></li>
            <li>Darius Melian Flamand: <a href="mailto:dariusmelian16@gmail.com">dariusmelian16@gmail.com</a></li>
            <li>Team Email: <a href="mailto:max.musterman@gmail.com">max.musterman@gmail.com</a></li>
            <li>Telefon: <a href="tel:+4917623350637">+49 176 23350637</a></li>
        </ul>

    </div>

</section>

{% endblock %}